body{
	max-width:95%;
	margin:auto;
	color: #526573;
}

header{
	padding: 6px 0;
	background-color: #2ca6b0;
}

a{
	text-decoration: none;
}
.container{
	width: 95%;
	margin: 0 auto;

}

ul{
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0:
}

ul li{
	float: left;
	width: 50%;
}

.logo{
	width: 200px;
	height: 48px;
	background: url(../images/a1.png) center center no-repeat;
}

.local{
	float: right;
	color: white;
}

.local .icon{
	float:left;
	background:url(../images/a2.png) center center no-repeat;
	width: 30px;
	height: 20px;
	margin-top: 14px;
}

.local .text{
	display: inline-block;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 12px;
}


.blue{
	color: 2ca6b0;
	text-decoration: none;
}

.content{
	overflow: hidden;
	text-align: center;
	
}

.box{
	width:24%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	float: left;
/*	border: 1px solid; */
}	

.boxafter{
	width:30%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	float: left;	

}

.vertical-line{
	border-left: 1px solid #2ca6b0;
	height: 50px;
	margin-top: 50px;
	float: left;
}
.vertical-line-2{
	border-left: 10px solid #2ca6b0;
	height: 50px;
	margin-top: 50px;
	float: left;
}

.box, .vertical-line{

}

.icon-large{
	height: 50px;
	margin: 0 auto;
}
/*
.icon-large img{
	display: block;
	vertical-align: bottom:
}
*/

p{
	padding: 0 1px;
	text-align: center;
	margin: 0 0 0 0;
	font-weight: 100;
}

.link{
	text-decoration: none;
	padding: 1px 1px;
/*	border: 1px solid #bbb;
	border-radius: 5px; */
	display: inline-block; 
	background: rgba(143,185,205,.15);
	margin: 1 0 0 0;
}

section.after-content{
	/*background: url(../images/tttt.jpg) center center no-repeat;*/
	background-color: #eee;
	
}






.boxingri{
	width:29%;
	float: left;	
}

footer{
	padding: 20px;
	background-color: #777;
	color: #b5b5b5;
	border 1px solid #2ca6b0;
}

footer .left, footer .right{
	float: left;
	width: 50%;
	font-size: 12px;
}

footer .right{
	text-align: right;
}
	


	
