.gray1{
  background-color: #E8F8F5;
  margin 0 0 0 0;
  padding: 0 1px;
  border: 1px solid #E8F8F5;
}
.gray2{
  background-color: #D1F2EB;
  border: 1px solid #D1F2EB;
}
.gray3{
  background-color: #A3E4D7;
}
.gray4{
  background-color: #76D7C4;
}
